.idea
.classpath
.project
.settings
.DS_Store
build
.gradle
challenges/*.txt
localstore/
record*.zip
record/localstore/
record/record*
record/config.json
record/jre*
record/*.so
record/*.dll
record/*.dylib
config/credentials.config
out
target
*.iml
coverage.tdl
